@{
    ViewBag.Title = "Configuracion";
    var idEmpresa = ViewBag.idEmpresa;
}

<h2>Configuracion</h2>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>

<button data-target="modalConfigLogo" class="black-text btn grey lighten-2 font-bold modal-trigger rounded-4">
    <i class="material-icons left blue-text">photo</i>
    <b>Configuración Logo</b>
</button>

<div id="modalConfigLogo" class="modal Logo">
    <div class="modal-header" style="display:flex;justify-content:center; border: none;">
        <h4 style="font-size: 1.64rem;" class="blue-text">Configuración logo</h4>
    </div>

    <div class="container" style="margin-top: -14px;">
        <div id="Mensaje"></div>
        <input type="file" id="inputLogo" accept="image/*" style="display:none;" />
        <div class="section">
            <label for="inputLogo" class="waves-effect waves-light btn-large blue">
                <i class="material-icons left">photo_size_select_large</i>
                Elegir logo
            </label>
        </div>

        <span class="grey-text text-darken-1" style="margin-left:12px;">
            PNG, JPG o SVG (se recomienda fondo transparente).
        </span>

        <div class="section" id="sectionEditImage">
            <div id="sectionEditar" style="display:none;">
                <img id="preview" alt="" />
            </div>
            <div id="sectionVista" style="display:none;">
                <h5 id="TitleVista" class="blue-text text-darken-1 mtpreviw"></h5>
                <img id="logoGuardado" class="mtpreviw" style="max-height: 150px;" />
            </div>
        </div>

        <div class="section">
            <a id="btnRecortar" class="btn waves-effect waves-light blue">Guardar</a>
            <a id="btnReset" class="btn waves-effect waves-light red">Borrar Imagen</a>
        </div>
    </div>

    <div class="modal-footer">
        <a href="#!" id="btnCerrar" class="modal-close btn waves-effect waves-light red">Cerrar</a>
    </div>
</div>

<script>
    var idEmpresa = @idEmpresa;
    var UrlGuardar = '@Url.Action("GuardarLogo", "Empresa")';
    var UrlVerLogo = '@Url.Action("VerLogo", "Empresa")';
</script>

<script src="~/Scripts/UploadedImage.js"></script>
